@media (min-width: 900px){
    .Consumer__section{
        display: grid;
        grid-template-columns: 1fr;
    }
    .Consumer__review__container{
        margin-left: 20%;
    }
    .Consumer__review,
    .Consumer__review1,
    .Consumer__review2 {
        width: 50%;

    }
    .Consumer__review p,
    .Consumer__review1 p,
    .Consumer__review2 p {
        padding-top: 7%;
    }
    .Consumer__review1{
        margin-left: 10%;
    }
    .Consumer__review2{
        margin-left: 20% ;
    }
    .Main__section{
        flex-direction: row;
        justify-content: space-between;
    }
    .Main__section__article,
    .Main__section__article1,
    .Main__section__article2{
        width: 33%;
    }
    .Main__section__article1{
        margin-top: 5%;
    }
    .Main__section__article2{
        margin-top: 10%;
    }
}